#J_album {
  background: -webkit-linear-gradient(0deg, #e5467f, rgba(229, 70, 127, 0.91) 80%, #e5467f);
}
#J_album .content {
  color: #000;
  font: 18px/24px -apple-system-font;
}
#J_album .content .album-thumb {
  width: 76px;
  height: 76px;
  margin: 2px;
  float: left;
  overflow: hidden;
}
#J_album .content .album-thumb img {
  width: 100%;
}
